@media (min-width:992px){.modal-lg{width:992px}}

body,body.nav-md{
    color:#204e7b;
}

.radio-btn{
    padding-top:8px;
    margin-right:10px;
}

.radio-btn input,.radio-btn label{
    margin-right:5px;
}

.rdb {
 padding:5px;
}
.login_content .form {
    margin: 20px 0;
    position: relative;
}
.login_content .form input[type=text], .login_content .form input[type=email], .login_content .form input[type=password] {
    border-radius: 3px;
    -ms-box-shadow: 0 1px 0 #fff,0 -2px 5px rgba(0,0,0,.08) inset;
    -o-box-shadow: 0 1px 0 #fff,0 -2px 5px rgba(0,0,0,.08) inset;
    box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,.08) inset;
    border: 1px solid #c8c8c8;
    color: #777;
    margin: 0 0 20px;
    width: 100%;
}